/* Add this to your global styles or component styles */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rethink+Sans&display=swap');

.user-profile {
  display: flex;
  margin: 20px;
  flex-direction: column;
  margin: 0 auto;
  width: 600px;
}

.image-container {
  /* flex: 0 0 30%;
  margin-right: 20px; */
 
  margin: 0 auto;
}

.user-image {
  height: auto;
  border-radius: 8px;
  padding: 10px;
  border: 2px solid black !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: transform 0.3s ease; 
}

/* .user-image:hover {
  transform: scale(2);
  box-sizing: border-box;
} */


.details-container {
  flex: 1;
}

.user-name {
  font-size: 24px;
  font-family: 'Rethink Sans', sans-serif;
  margin-bottom: 10px;
  text-align: center;

}

.details-section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.details-header {
  font-size: 18px;
  font-weight: 800;
  font-family: 'Rethink Sans', sans-serif;
  margin-bottom: 10px;
}

.details-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.mat-list-item {
  padding: 10px;
}


/* your-component.component.css */

@media print {
  .download{
    display: none;
  }
}
