<div class="main-table-container" style="background-color: white;">
    <div style="display: flex;justify-content: space-around;align-items: center; ">

  
    <mat-form-field >
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input> 
    </mat-form-field>

    <button mat-icon-button color="primary" style="position: relative; " (click)="add()">
        <mat-icon>edit</mat-icon>
        <span>Add User</span>
      </button>
      
    </div>

    <mat-table [dataSource]="dataSource" >
      
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef >Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
        </ng-container>
  
        <!-- Branch Column -->
        <ng-container matColumnDef="branch">
            <mat-header-cell *matHeaderCellDef>Branch</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.branch }}</mat-cell>
        </ng-container>
  
        <!-- City Column -->
        <ng-container matColumnDef="city">
            <mat-header-cell  *matHeaderCellDef>City</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.city }}</mat-cell>
        </ng-container>
  
    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.phone }}</mat-cell>
    </ng-container>


    
    <ng-container matColumnDef="update">
        <mat-header-cell *matHeaderCellDef style="color: white;">Update</mat-header-cell>
        <mat-cell *matCellDef="let element" class="right-align">
          <button mat-icon-button color="accent" (click)="update(element)">
            <mat-icon>update</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef style="color: white;">Delete</mat-header-cell>
        <mat-cell *matCellDef="let element" class="right-align">
          <button mat-icon-button color="warn"   (click)="deleteData(element)">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      

  
        <mat-header-row *matHeaderRowDef="Keys" style="background-color: black;color: white !important;"></mat-header-row>
        <mat-row *matRowDef="let row; columns: Keys;"></mat-row>
    </mat-table>

    <mat-paginator showFirstLastButtons [pageSizeOptions]="[5,10,20]" ></mat-paginator>
</div>