<div class="main-table-container" style="background-color: white; padding: 20px;">

  <div class="top-btns">
    <button mat-icon-button color="primary" style="position: relative; " (click)="add()">
      <mat-icon>edit</mat-icon>
      <span>Add User</span>
    </button>

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="loggedOut()">Logout</button>
  </div>
<div class="table-container">
  <mat-table [dataSource]="dataSource" class="custom-mat-table">
    <!-- Columns definitions ... -->

 
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef class="custom-header-cell">ID</mat-header-cell>
      <mat-cell *matCellDef="let element" class="custom-cell">{{ element.id }}</mat-cell>
    </ng-container>

 
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="custom-header-cell">Name</mat-header-cell>
      <mat-cell *matCellDef="let element" class="custom-cell">{{ element.name }}</mat-cell>
    </ng-container>

    <!-- Emails Column -->
    <ng-container matColumnDef="emails">
      <mat-header-cell *matHeaderCellDef class="custom-header-cell">Emails</mat-header-cell>
      <mat-cell *matCellDef="let element" class="custom-cell" >   
          <div class="address-item" class="custom-list" >
            <span  *ngFor="let email of element.emails" style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis;"

            [matTooltip]="email" matTooltipPosition="above"

            >{{ email }}<br></span>
          </div>
      </mat-cell>
    </ng-container>
 
    <!-- Phones Column -->
    <ng-container matColumnDef="phones">
      <mat-header-cell *matHeaderCellDef class="custom-header-cell">Phones</mat-header-cell>
      <mat-cell *matCellDef="let element" class="custom-cell">     
          <div class="align custom-list">
            
              <span *ngFor="let phone of element.phones">{{ phone }}<br></span>
            
          </div>
      </mat-cell>
    </ng-container>

    <!-- Addresses Column -->
    <ng-container matColumnDef="addresses">
      <mat-header-cell *matHeaderCellDef class="custom-header-cell">Addresses</mat-header-cell>
      <mat-cell *matCellDef="let element" class="custom-cell">
        <div class="address-container custom-list">
          <ng-container *ngFor="let address of element.addresses">
            <div class="address-item">
              <span class="city">{{ address.city }}</span>,
              <span class="street">{{ address.street }}</span>,
              <span class="zip">{{ address.zip }}</span>
            </div>
          </ng-container>
        </div>
      </mat-cell>
    </ng-container>

    <!-- Image Column -->
<!-- Image Column -->
<!-- Image Column -->
<ng-container matColumnDef="image">
  <mat-header-cell *matHeaderCellDef class="custom-header-cell">Image</mat-header-cell>
  <mat-cell *matCellDef="let element" class="custom-cell">
    <div class="address-item">
    
      <span>File Name: {{ element.fileName }}</span><br>
      <span>File Size: {{ element.fileSize }}</span><br>
      <span>File Type: {{ element.fileType }}</span>
    </div>
  </mat-cell>
</ng-container>



    

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="custom-header-cell">Actions</mat-header-cell>
      <mat-cell *matCellDef="let element" class="custom-cell" class="action-cell">
        <!-- Update Action -->
        <button mat-icon-button color="accent" (click)="update(element)">
          <mat-icon>update</mat-icon>
        </button>

        <!-- Delete Action -->
        <button mat-icon-button color="warn" (click)="deleteData(element)">
          <mat-icon class="mat-18">delete</mat-icon>
        </button>

        <!-- Download Action -->
        <button mat-icon-button color="primary" (click)="downloadDetails(element)">
          <mat-icon>preview</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="Keys" class="custom-header-row" style="color: white; background-color: black;"></mat-header-row>
    <mat-row *matRowDef="let row; columns: Keys" class="custom-row"></mat-row>
    
  </mat-table>
  <mat-paginator showFirstLastButtons [pageSizeOptions]="[5,10,100]" style="background-color: white!important"></mat-paginator>
  
</div>

</div>